<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login to Authorize App</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="client_id" value="<%= client_id %>">
        <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
        <input type="hidden" name="scope" value="<%= scope %>">
        <label for="username">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>